@import "~mixins";
@import "~vars";

.write-log {
  position: relative;
}


.write-log-options {
  margin-bottom: @base-spacing-unit * 1.5;
}


.write-log-options__save {
  display: inline-block;
  margin-right: @base-spacing-unit / 4;
}


.write-log-options__save-instructions {
  .sans-serif();
  .font-size(@h6-size);
  display: inline-block;
  color: lighten(gray, 35%);
  margin-right: @base-spacing-unit;
}


.write-log-options__cancel {
  display: inline-block;
  float: right;
}


.write-log__pencil {
  .font-size(@h6-size);
  position: absolute;  
  bottom: @base-spacing-unit / 4;
  right: -@base-spacing-unit;
  color: orange;
  margin-top: -@base-spacing-unit / 2;
  display: none;

  .responsive(375px, {
    display: inline-block; 
  });
}
