@import "~vars";
@import "~mixins";

.day-footer {
  margin-top: @base-spacing-unit;
}


.day-footer__link {
  display: inline-block;
  width: 50%;
  font-size: 0;
}


.day-footer__link > a {
  .font-size(@h6-size);
}


.day-footer__link--previous {
  text-align: left;
}


.day-footer__link--next {
  text-align: right;
}


.day-footer__link__label {
  .sans-serif();
  display: block;
  .font-size(@milli-size);
}


.day-footer__calendar {
  margin-top: @base-spacing-unit * 1.5;

  .responsive(1024px, {
    text-align: center;  
    margin-top: -@base-spacing-unit * 1.5;
  })
}


.day-footer__calendar__button {
  display: inline-block;
  text-align: center;
  width: @base-spacing-unit * 1.5;
  height: @base-spacing-unit * 1.5;
  background: orange;
  padding-top: @base-spacing-unit * .35;
  border-radius: @base-spacing-unit * .75;
}


.day-footer__calendar__button--toggle {
  display: none;
  .responsive(1024px, {
    display: inline-block;
  })
}


.day-footer__calendar__button--link {
  .responsive(1024px, {
    display: none;
  })
}


.day-footer__calendar__button-icon {
  display: inline-block;
  color: #fff;
}


.day-footer__calendar__label {
  .sans-serif();
  .font-size(@milli-size);
}
